.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 20px;
}

.header {
  grid-column: 7 / -1;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.nav {

}

.nav .orderedList {
  padding: 0;
  margin: 0;
}

.intro {
  grid-column: 5 / -2;
}